#header{
	background-color: #032830;
	
}
/* 7fb7be    D3F3EE    272838 */
.body{
	background-color: #7fb7be ;
    
}

.contenedor{
	display: flex;
	justify-content: center;
	height: 800px;
	align-items: center;
	align-content: center;
	border: 2px solid red;
	text-align: center;
	
}



.patas{
	background-color: #547a6d;
	color: red;
	padding: 20px 0;
	margin-top: 100%;
	
}

#playList{
	background: white;
	border-radius: 10px;
	text-align: left;
	opacity: 0.8;
	color: #db0f72;
	
}

li{
	padding: 10px;
}

li:hover, svg:hover {
	cursor: pointer;
	color: #e84393;
}

li.active{
	color: #770952;
	font-weight: 600;
}

#controls{
	border: 1px #eee solid;
	border-radius: 10px;
	padding: 10px;
	background: red;
	opacity: 0.8
}
 
svg {
	color: #cc0dac;
}
 
progress{
	width: 100%;
	color: black;
	
 
}
 
.timer {
	width:50%;
	position: relative;
	top:10px;
	left:0px;
	text-align:left;
	float:left;
	color: #e618a1;
	font-weight: 600;
}
.volumen{
	width:50%;
	position: relative;
	top:10px;
	right:0px;
	text-align:right;
	float:left;
	color: #0d4b9c;
	margin-bottom:20px;
}
#currentPlay{
	color: #5e094b;
	font-weight: 100;
}
  
h3{
	color: #e84393;
	margin:0px;
}

p {
	color: white;
}

p a {
	color: white;
}

p a:hover {
	color: #ffffff;
	font-weight: 600;
}