
/* 7fb7be    D3F3EE    272838 */
.body{/*background only*/
	margin-top: 15%;
	background-image: url("G:/Mi unidad/hospital_las_higueras_cover.jpg");
    background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_container{
	
	
	height: 300px;
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	border-radius: 5%;
	text-align: center;
	backdrop-filter: blur(10px);
	
}








